

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-518568900586177416.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-518568900586177416.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-518568900586177416.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-518568900586177416.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-518568900586177416.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-518568900586177416.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-518568900586177416.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-518568900586177416.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-518568900586177416.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-518568900586177416.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-518568900586177416.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-518568900586177416.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-518568900586177416.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-518568900586177416.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-518568900586177416.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-518568900586177416.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-518568900586177416.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-518568900586177416.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-518568900586177416.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-518568900586177416.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-518568900586177416.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-518568900586177416.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-518568900586177416.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-518568900586177416.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-518568900586177416.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-518568900586177416.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-518568900586177416.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-518568900586177416.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-518568900586177416.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-518568900586177416.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-518568900586177416.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-518568900586177416.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-518568900586177416.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-518568900586177416.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-518568900586177416.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-518568900586177416.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-518568900586177416.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-518568900586177416.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-518568900586177416.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-518568900586177416.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-518568900586177416.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-518568900586177416.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-518568900586177416 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-518568900586177416 .gp-relative{position:relative}.gps-518568900586177416 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-518568900586177416 .gp-mb-0{margin-bottom:0}.gps-518568900586177416 .gp-flex{display:flex}.gps-518568900586177416 .gp-grid{display:grid}.gps-518568900586177416 .\!gp-hidden{display:none!important}.gps-518568900586177416 .gp-hidden{display:none}.gps-518568900586177416 .gp-max-w-full{max-width:100%}.gps-518568900586177416 .gp-flex-col{flex-direction:column}.gps-518568900586177416 .gp-gap-y-0{row-gap:0}.gps-518568900586177416 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518568900586177416 .gp-duration-200{transition-duration:.2s}.gps-518568900586177416 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-518568900586177416 .tablet\:\!gp-hidden{display:none!important}.gps-518568900586177416 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-518568900586177416 .mobile\:\!gp-hidden{display:none!important}.gps-518568900586177416 .mobile\:gp-hidden{display:none}}.gps-518568900586177416 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-518568900586177416 .\[\&_p\]\:gp-inline p{display:inline}.gps-518568900586177416 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-518568900586177416 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNFtgP56bA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pb:var(--g-s-3xl);--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNFtgP56bA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPmatYYN-R gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gvlAojCiJ7"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--mb:var(undefined);--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvlAojCiJ7 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glnMO4wjcS gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="gK7d7X2ykH "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:var(undefined);--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggK7d7X2ykH_text }}</div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-518568900586177416 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/info-fc88/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=518568861411312803&sectionId=518568900586177416)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"ggK7d7X2ykH_text","label":"ggK7d7X2ykH_text","default":"<p>Privacy &amp; GDPR Disclosure: We sometimes collect personal information for marketing purposes, but will always let users know why we are collecting that information. This site uses cookies for marketing purposes.<br>THIS IS AN ADVERTISEMENT AND NOT AN ACTUAL NEWS ARTICLE, BLOG, OR CONSUMER PROTECTION UPDATE. THE OWNERS OF THIS WEBSITE RECEIVE COMPENSATION FOR THE SALE OF SOCKSCOMPRESSION.<br>Marketing Disclosure: This website is a market place. As such you should know that the owner has a monetary connection to the product and services advertised on the site. The owner receives payment whenever a qualified lead is referred but that is the extent of the relationship.<br>Advertising Disclosure: This website and its owners are compensated for promoting and recommending the products and services mentioned. This website is an advertisement and not a news publication. Any photographs of persons used on this site are models. The owner of this site and the owner of the products and services referred to only provide a service where consumers can obtain and compare products and services.</p>"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
