

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-518568900586111880.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-518568900586111880.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-518568900586111880.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-518568900586111880.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-518568900586111880.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-518568900586111880.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-518568900586111880.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-518568900586111880.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-518568900586111880.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-518568900586111880.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-518568900586111880.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-518568900586111880.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-518568900586111880.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-518568900586111880.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-518568900586111880.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-518568900586111880.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-518568900586111880.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-518568900586111880.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-518568900586111880.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-518568900586111880.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-518568900586111880.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-518568900586111880.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-518568900586111880.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-518568900586111880.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-518568900586111880.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-518568900586111880.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-518568900586111880.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-518568900586111880.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-518568900586111880.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-518568900586111880.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-518568900586111880.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-518568900586111880.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-518568900586111880.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-518568900586111880.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-518568900586111880.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-518568900586111880.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1023px){.gps-518568900586111880.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-518568900586111880.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-518568900586111880.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-518568900586111880.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-518568900586111880.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-518568900586111880.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-518568900586111880.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-518568900586111880.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-518568900586111880.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-518568900586111880.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-518568900586111880.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-518568900586111880.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-518568900586111880.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-518568900586111880 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-518568900586111880 .gp-invisible{visibility:hidden}.gps-518568900586111880 .gp-absolute{position:absolute}.gps-518568900586111880 .gp-relative{position:relative}.gps-518568900586111880 .gp-z-1{z-index:1}.gps-518568900586111880 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-518568900586111880 .gp-mb-0{margin-bottom:0}.gps-518568900586111880 .gp-flex{display:flex}.gps-518568900586111880 .gp-inline-flex{display:inline-flex}.gps-518568900586111880 .gp-grid{display:grid}.gps-518568900586111880 .\!gp-hidden{display:none!important}.gps-518568900586111880 .gp-hidden{display:none}.gps-518568900586111880 .gp-h-5{height:20px}.gps-518568900586111880 .gp-h-full{height:100%}.gps-518568900586111880 .gp-w-5{width:20px}.gps-518568900586111880 .gp-max-w-full{max-width:100%}.gps-518568900586111880 .gp-shrink-0{flex-shrink:0}.gps-518568900586111880 .gp-flex-col{flex-direction:column}.gps-518568900586111880 .gp-items-center{align-items:center}.gps-518568900586111880 .gp-justify-center{justify-content:center}.gps-518568900586111880 .gp-gap-y-0{row-gap:0}.gps-518568900586111880 .gp-overflow-hidden{overflow:hidden}.gps-518568900586111880 .gp-break-words{overflow-wrap:break-word}.gps-518568900586111880 .gp-rounded-none{border-radius:0}.gps-518568900586111880 .gp-no-underline{text-decoration-line:none}.gps-518568900586111880 .gp-opacity-25{opacity:.25}.gps-518568900586111880 .gp-opacity-75{opacity:.75}.gps-518568900586111880 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518568900586111880 .gp-duration-200{transition-duration:.2s}.gps-518568900586111880 .gp-duration-300{transition-duration:.3s}.gps-518568900586111880 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-518568900586111880 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-518568900586111880 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-518568900586111880 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-518568900586111880 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-518568900586111880 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-518568900586111880 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-518568900586111880 .tablet\:\!gp-hidden{display:none!important}.gps-518568900586111880 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-518568900586111880 .mobile\:\!gp-hidden{display:none!important}.gps-518568900586111880 .mobile\:gp-hidden{display:none}}.gps-518568900586111880 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-518568900586111880 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-518568900586111880 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-518568900586111880 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-518568900586111880 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-518568900586111880 .\[\&_p\]\:gp-inline p{display:inline}.gps-518568900586111880 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-518568900586111880 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-518568900586111880 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gLECLQsnUA"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--mb-tablet:60px;--pt-tablet:var(--g-s-3xl);--pl-tablet:15px;--pb-tablet:var(--g-s-2xl);--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLECLQsnUA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gV6qrKNXw2 gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gFv-ZvgV2Q"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFv-ZvgV2Q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcrqlwVfW9 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g3Q2Pl3m77 "
        style="--tt:default;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:0px;--mb-mobile:var(--g-s-xl);--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="gp-flex" style="">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3Q2Pl3m77_text }}</div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw6n2fHnOT gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gUEaTiMv0E"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--mb:0px;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUEaTiMv0E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJT80tBBkN gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:0px;--mb-mobile:var(--g-s-l);--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .goORm4T-Qa.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .goORm4T-Qa:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="goORm4T-Qa" aria-label="Refund policy"
      
      data-state="idle"
      class="goORm4T-Qa gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggoORm4T-Qa_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gERzVPqOtt gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:0px;--mb-mobile:var(--g-s-l);--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .glGwlNKgmm.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .glGwlNKgmm:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="glGwlNKgmm" aria-label="Terms of service"
      
      data-state="idle"
      class="glGwlNKgmm gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gglGwlNKgmm_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gS4Skk13H_ gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--mb:0px;--op:100%;--radius:var(--g-radius-none);--ta:left"
    class=""
  >
    <style>
    .geK2rl7Ftx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .geK2rl7Ftx:hover::before {
      
      
    }
  </style>
    <button
      type="button" data-id="geK2rl7Ftx" aria-label="Privacy policy"
      
      data-state="idle"
      class="geK2rl7Ftx gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-g-paragraph-1"
      style="--hvr-bg:transparent;--bg:transparent;--c:#575757;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--tt:default"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    <span
        class="gp-inline-flex gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--mr:8px;--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M148.672 52.672a16 16 0 0 1 22.656 0l192 192a16 16 0 0 1 0 22.656l-192 192a16 16 0 0 1 -22.656 -22.656L329.376 256 148.672 75.328a16 16 0 0 1 0 -22.656z" /></svg></span>
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.ggeK2rl7Ftx_label }}
      </span>
    </button>
  </div>
  </gp-button>

    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 7",
    "tag": "section",
    "class": "gps-518568900586111880 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/info-fc88/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=518568861411312803&sectionId=518568900586111880)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"html","id":"gg3Q2Pl3m77_text","label":"gg3Q2Pl3m77_text","default":"<p>Copyright © 2023 Gemadvertorial. All Rights Reserved.</p>"},{"type":"html","id":"ggoORm4T-Qa_label","label":"ggoORm4T-Qa_label","default":"Refund policy"},{"type":"html","id":"gglGwlNKgmm_label","label":"gglGwlNKgmm_label","default":"Terms of service"},{"type":"html","id":"ggeK2rl7Ftx_label","label":"ggeK2rl7Ftx_label","default":"Privacy policy"}],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
